<!-- <div class="upload-form mt-3 mx-auto">
    <form action="/display" method="GET" class="mx-auto">
        <div class="form-group">
            <label>Upload data here:</label>
            <input type="file" class="form-control" placeholder="Choosefile" required>
        </div>
        <button type="submit" class="btn btn-primary mx-auto">Upload</button>
    </form>
</div> -->
<% if flash[:notice] %>
  <script type="text/javascript">
    alert("<%=flash[:notice]%>")
  </script>
  <% end %>
<div>

<h4>Import that data!</h4>
  <%=form_tag import_uploads_path, multipart: true do %>
  <%= file_field_tag :file%>
  <%= submit_tag "Import CSV",{:class => 'btn btn-primary'} %>

  <% end %>
</div>
